<div class="media">
  <div class="mr-4">
    <div>{{ commentDetails.date | date }}</div>
    <div>{{ commentDetails.author.name }}</div>
  </div>

  <div class="media-body" [innerHTML]="commentDetails.content"></div>
</div>
