<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1>
        {{ title }}
      </h1>
    </div>
  </div>

  <app-posts-list></app-posts-list>
</div>
