<div class="fixed-top">
  <div class="container">
    <div class="row">
      <div *ngIf="posts.length" class="col text-center">
        <button (click)="loadComments()">Load comments</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>{{ postsListHeader }}</h2>
  </div>

  <div class="w-100"></div>

  <div *ngIf="loadingPosts" class="col">loading posts...</div>

  <div *ngIf="!posts.length && !loadingPosts" class="col">
    <p>There is no post to show.</p>
  </div>

  <div *ngIf="posts.length && !loadingPosts" class="col">
    <app-post
    *ngFor="let post of posts"
    [post]="post"
    [selectedPost]="selectedPost"
    [relatedComment]="comments.get(post.ID)"
    (click)="selectPost(post)">
    </app-post>
  </div>

  <div class="w-100"></div>
</div>
