<dl [class.selected]="post === selectedPost" class="row">
  <dt class="col-sm-3">
    <div>
      {{ post.date | date }}
    </div>
    <div>
      {{ post.author.name }}
    </div>
  </dt>
  <dd class="col-sm-9">
    <div [innerHTML]="post.content"></div>

    <div *ngIf="relatedComment">
      <h3>Comment</h3>

      <app-comment [commentDetails]="relatedComment"></app-comment>
    </div>
  </dd>
</dl>
